.app {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
    margin-bottom: 24px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header-button {
    font-size: 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.todo-list {
    margin-bottom: 24px;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.todo-checkbox{
    /* flex: 
        grow: 幅ある際にどれだけ伸びるか
        shrink: 幅がない際にどれだけ縮むか
        basis: 初期幅（width）
     */
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.todo-text {
    /* 余り幅を受け取る */
    flex: 1 1 auto;
    font-size: 16px;
    overflow-wrap: anywhere; /* 改行 */
}

.todo-delete-button {
    flex: 0 0 auto;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.todo-input {
    display: flex;
    align-items: center;
    gap: 16px;
}

.todo-input-field {
    flex: 1 1 auto;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px;
}

.todo-input-field:focus {
    outline: none;
    border: 2px solid #487DC2;
}

.todo-add-button {
    flex: 0 0 auto;
    font-size: 16px;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


.todo-item.completed .todo-text {
    color: #999;
    text-decoration: line-through;
}